.line, .clickedpath, .clickedcountry {
  fill: none;
}

.axistext {
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 15px;
}

#titlediv, #mainheader {
  text-align: center;
  font-family: futura,menlo, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  ;
font-size: 25px; position: relative;
padding-right:40px; 
margin-bottom: 10px;
}

#mainheader { display: inline}

#titlediv { margin-top: 0px; 
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 1s ease-out;}


#mainregion {
  margin: 20px 1px 0px 40px;
  width: 600px;
  margin-right: none;
  display: block;
  float: left;
  position:fixed;
}



.regionslist {
  margin: 3px;
  padding: 3px;
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  ;
width: 217px;
}

.regionslist:nth-child(even) {
  background-color: #f2f2f2;
}

.countrylist:nth-child(even) {
  background-color: #f2f2f2;
}

div:hover {
  background-color: 'red';
}

.countrydiv {
  border: 1px;
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
/*position: relative;
overflow: hidden;
display: inline-block;*/
  margin: 0px;
  padding-left: 4px;
  width: 218px;
}

.infohead {
  padding-left: 3px;
  position: relative;
  font-size: 20px;
  background: #f48f42;
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  width: 220px;
  margin: 0px 3px 3px 3px;
}

.textpanes {
  color: red;
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 15px;

}

.infopanes, .selectedinfopanes, .infopaneshover {
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 20px;
  padding-bottom: 40px;
}

#option1 {
  margin: 0px 10px 10px 0px;
  border-right: 1px solid black;
  width: 280px;
}

#option2 {
  float: right;
  margin: 0px 10px 10px 0px;
  border-right: 1px solid black;
  width: 245px;

}

label {
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#formdiv, #mainheading, #datadiv {
  display: flex;
  justify-content: flex-start;
  width: 850px;
}

#datadiv {
  width: 450px;
}

#helppane {
/*transform: translate(590px,-300px);
float: right;
position: absolute;*/
  /*transform: translate(590px,-300px);
  float: left; */
  font-size: 15px;
  background-color: #bab4ae;
  position: fixed;
  left: 6vw;
  top: 7vw;

 
}

.tooltips {
  visibility: hidden;
  position: absolute;
  background-color: #bab4ae;
  padding: 2px;
}

img#clearimg:hover + .tooltips {
  visibility: visible;
  transform: translate(600px,-25px);
  font-family: futura, "Lucida Grande", "Lucida Sans Unicode",
Helvetica, Arial, Verdana, sans-serif;
}

#helpg { font-size: 15px; color: #a30404;}

#arrow { width: 0; 
  height: 0; 

  border-left: 10px solid black;

  border-top: 10px solid transparent ; 
  
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  margin: 10px 0px 0px 100px;}


#titlediv { position:relative;animation:animatetop 1s }

#summarytext, .summaryrows{ font-family: menlo, futura,"Lucida Grande", "Lucida Sans Unicode" ; font-size: 14px; }

#checkhelp { float: right; }


.trendtext { 

font-family: menlo, futura,"Lucida Grande", "Lucida Sans Unicode" ;
font-size: 13px; ;
 }


@media (min-width: 1830px) {
  #mainregion  {

  position: fixed;

  left: 60vw;
  top: 4vw; 

} 

@media (min-width: 573px) {
  #helppane { 

  position: fixed;
  left: 6vw;
  top: 4vw;

 }

@media (min-width: 1900px) {

  #mainregion  {

  position: fixed;

  left: 60vw;
  top: 4vw; 

}
    


@media (min-width: 2250px) {
  #mainregion  {

  position: fixed;
  left: 50vw;
  top: 4vw;
    
  }

